@import "../less/config.less";
.div-min{
  min-height: 0;
  min-width: 0;
}

.div-float-left{
  float: left;
}
.default-font{
  font-family: @default-font-family-zh;
}


.ex-button-default{
  background-color: @white-color;
  color: black;
}


.ex-button-default:hover{
  background-color: @default-color;
  color: @default-color2;
}

.ex-button-default:focus{
  border-color: @default-color2;
}

.ex-button-default:disabled{
  background-color: @border-color;
  color: lighten(@default-color,10%)
}

.ex-button-primary{
  background-color: @primary-color;
  color: @white-color;
}
.ex-button-primary:hover{
  background-color:  lighten(@primary-color,20%);
  color: @white-color;
}


.ex-button-primary:focus{
  border-color: lighten(@primary-color,20%);
}
.ex-button-primary:disabled{
  background-color: lighten(@primary-color,40%);
  color: @white-color;
}

.ex-button-error{
  background-color: @error-color;
  color: @white-color;
}
.ex-button-error:hover{
  background-color: lighten(@error-color,20%);
  color: @white-color;
}
.ex-button-error:focus{
  border-color: lighten(@error-color,20%);
}

.ex-button-error:disabled{
  background-color:lighten(@error-color,40%);
  color: @white-color;
}
.ex-button-info{
  background-color: @info-color ;
  color: @white-color;
}
.ex-button-info:hover{
  background-color: lighten(@info-color,20%) ;
  color: @white-color;
}
.ex-button-info:focus{
  border-color: @white-color;
}

.ex-button-info:disabled{
  background-color: lighten(@info-color,40%) ;
  color: @white-color;
}


.ex-font-sm {
  font-size: @font-sm;
  margin: 0 auto;
}
.ex-font-md {
  font-size: @font-md;
  margin: 0 auto;
}
.ex-font-lg {
  font-size: @font-lg;
  margin: 0 auto;
}


.ex-button-sm{
  padding: 10px;
  min-width: 60px;
}
.ex-button-md{
  padding: 15px;
  min-width: 80px;
}
.ex-button-lg{
  padding: 20px;
  min-width: 100px;
}
.ex-button{
  margin: 5px;
  border-radius: 8px;
  border-style:solid;
  border-width:1px;
  border-color:@border-color;
}
.ex-button:focus{
  outline: 0;
  border-style:solid;
  border-width:1px;
}
.ex-button:hover{
  border-style:solid;
  border-width:1px;
  border-color:@border-color
}
.ex-button:hover:disabled{
  cursor: not-allowed;
  border-style:solid;
  border-width:1px;
  border-color:@border-color
}

.ex-link{
  outline: 0;
  background: @white-color;
  border-width: 0;;
}
.ex-link:hover:disabled{
  cursor: not-allowed;
}
.ex-link-default{
  color: @default-color2;
}
.ex-link-default:hover{
  color: @default-color;
}

.ex-link-info{
  color: @info-color;
}
.ex-link-info:hover{
  color: lighten(@info-color,20%);
}
.ex-link-primary{
  color: @primary-color;
}
.ex-link-primary:hover{
  color: lighten(@primary-color,20%);
}
.ex-link-error{
  color: @error-color;
}
.ex-link-error:hover{
  color: lighten(@error-color,20%);
}

.ex-link-default:disabled{
  color: @default-color
}

.ex-link-info:disabled{
  color: lighten(@info-color,20%);
}

.ex-link-primary:disabled{
  color: lighten(@primary-color,20%);
}

.ex-link-error:disabled{
  color: lighten(@error-color,20%);
}

.ex-radio{
  display: none;
}
.ex-radio+b{
  display: inline-block;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  width: 15px;
  height: 15px;

}
.ex-radio:checked+b{
  display: inline-block;
  border: 5px solid @default-color2;
  color: @default-color2;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;

  width: 6px;
  height: 6px;

}

.radio-label-font{
  color: black;
}
.radio-label-font-checked{
  color: @default-color2;
}
.radio-b{
  cursor: pointer;
}
.div-row{
  display: inline;
}

.ex-hr{
  border: 3px solid;
  border-radius: 10px;
}
.ex-hr-primary{
  border-color: @primary-color;
}
.ex-hr-info{
  border-color: @info-color;
}
.ex-hr-default{
  border-color: @default-color;
}
.ex-hr-error{
  border-color: @error-color;
}


.ex-input{
  padding-left: 15px;
  padding-right: 15px;
  margin: 6px;
  border: 1px solid @border-color;
  border-radius: 10px;
  outline: 0;
}
.ex-input:focus{
  box-shadow: 1px 1px 10px 4px @default-color;
}
.ex-input:disabled{
  background: @border-color;
}
.ex-input:disabled:hover{
  cursor: not-allowed;
}
.ex-input-sm{
  height: 20px;
  width: 80px;
  font-size: @font-sm;
}

.ex-input-md{
  height: 30px;
  width: 150px;
  font-size: @font-md;
}
.ex-input-lg{
  height: 40px;
  width: 240px;
  font-size: @font-lg;
}

.ex-fake-radio{
  display: inline-block;
  border-style: solid;
}
.ex-fake-radio:hover{
  cursor: pointer;
}
.ex-fake-radio-unchecked{
  border:1px solid ;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.ex-fake-radio-checked{

  border-width: 6px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
.ex-fake-radio-default{
  border-color: @default-color;
}
.ex-fake-radio-primary{
  border-color: @primary-color;
}

.ex-fake-radio-error{
  border-color: @error-color;
}
.ex-fake-radio-info{
  border-color: @info-color;
}
.ex-pre-icon{
  position: relative;
  background-color:white;
  background-repeat: no-repeat;
}
//标准的边界样式
.ex-pre-icon-lg{
  top: 15px;
  left: 6px;
}
.ex-pre-icon-sm{
  left: 9px;
  top: 5px;
}
.ex-pre-icon-md{
  top: 8px;
  left: 8px;
}
.ex-reserve{

}
.ex-suf-reserve-sm{
  padding-right: 25px;
  margin-right: -25px;
}
.ex-suf-reserve-md{
  padding-right: 35px;
  margin-right: -35px;
}
.ex-suf-reserve-lg{
  padding-right: 55px;
  margin-right: -55px;
}
.ex-pre-reserve-sm{
  margin-left: -20px ;
  padding-left: 25px;
}
.ex-pre-reserve-md{
  margin-left: -30px ;
  padding-left: 35px;

}
.ex-pre-reserve-lg{
  margin-left: -45px ;

  padding-left: 50px;
}

.ex-icon-sm{
  width: 20px;
  height: 20px;
}
.ex-icon-md{
  width: 27px;
  height: 27px;
}
.ex-icon-lg{
  width: 41px;
  height: 42px;
}

.ex-suf-icon{
  position: relative;
  background-color: @white-color;
  background-repeat: no-repeat;

}

.ex-suf-icon-lg{
  right: 0;
  top: 14px;
}
.ex-suf-icon-sm{
  right: 3px;
  top: 5px;

}
.ex-suf-icon-md{
  top: 9px;
}
.ex-pre-button-sm{
  top: -2px;
  height: 25px;
  left: 16px;
}
.ex-pre-button-md{
  top: -2px;
  height: 37px;
  left: 16px;
}
.ex-pre-button-lg{
  height: 50px;
  top: -5px;
  left: 18px;

}
.ex-pre-button{
  margin-left: -12px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 10px;
  border-style:solid;
  border-width:1px;
  border-color:@border-color;
  color: @border-color;
  position: relative;
  vertical-align: middle;
}
.ex-suf-button{
  margin-left: -12px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 10px;
  border-style:solid;
  border-width:1px;
  border-color:@border-color;
  color: @border-color;
  position: relative;
  vertical-align: middle;
}
.ex-suf-button-sm{
  left: -5px;
  height: 27px;
  top: -2px;
}
.ex-suf-button-md{
  left: -6px;
  height: 37px;
  top: -1px;
}
.ex-suf-button-lg{
  left: -7px;
  height: 50px;
  top: -5px;
}

.ex-slider-button{
  outline: none;
  border-radius: 50%;
  padding:10px;
  position: relative;
  top: -25px;

  background: @default-color;
  border: 1px solid @border-color;

}
.ex-slider-button:hover{
  outline: none;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: -25px;
  left: 0;
}
.ex-slider-button-default{
  background: @default-color;
}
.ex-slider-button-default:hover{
  background: @default-color2;
}
.ex-slider-button-error{
  background: @error-color;
}
.ex-slider-button-error:hover{
  background: lighten(@error-color,20%);
}.ex-slider-button-info{
   background: @info-color;
 }
.ex-slider-button-info:hover{
  background: lighten(@info-color,20%);
}
.ex-slider-button-primary{
  background: @primary-color;
}
.ex-slider-button-primary:hover{
  background: lighten(@primary-color,20%);
}
