@import "../less/config.less";
.div-min{
  min-height: 0;
  min-width: 0;
}
.div-float-left{
  float: left;
}

.ex-button-default{
  background-color: white;
  color: black;
}


.ex-button-default:hover{
  background-color: @default-color;
  color: @default-color2;
}

.ex-button-default:focus{
  border-color: @default-color2;
}

.ex-button-default:disabled{
  background-color: white;
  color: lighten(@default-color,10%)
}

.ex-button-primary{
  background-color: @primary-color;
  color: white;
}
.ex-button-primary:hover{
  background-color:  lighten(@primary-color,20%);
  color: white;
}


.ex-button-primary:focus{
  border-color: lighten(@primary-color,20%);
}
.ex-button-primary:disabled{
  background-color: lighten(@primary-color,40%);
  color: white;
}

.ex-button-error{
  background-color: @error-color;
  color: white;
}
.ex-button-error:hover{
  background-color: lighten(@error-color,20%);
  color: white;
}
.ex-button-error:focus{
  border-color: lighten(@error-color,20%);
}

.ex-button-error:disabled{
  background-color:lighten(@error-color,40%);
  color: white;
}
.ex-button-info{
  background-color: @info-color ;
  color: white;
}
.ex-button-info:hover{
  background-color: lighten(@info-color,20%) ;
  color: white;
}
.ex-button-info:focus{
  border-color: white;
}

.ex-button-info:disabled{
  background-color: lighten(@info-color,40%) ;
  color: white;
}


.ex-font-sm {
  font-size: @font-sm;
  margin: 0 auto;
}
.ex-font-md {
  font-size: @font-md;
  margin: 0 auto;
}
.ex-font-lg {
  font-size: @font-lg;
  margin: 0 auto;
}


.ex-button-sm{
  padding: 10px;
  min-width: 60px;
}
.ex-button-md{
  padding: 15px;
  min-width: 80px;
}
.ex-button-lg{
  padding: 20px;
  min-width: 100px;
}
.ex-button{
  margin: 8px;
  border-radius: 8px;
  border-style:solid;
  border-width:1px;
  border-color:#d3dce6;
}
.ex-button:focus{
  outline: 0;
  border-style:solid;
  border-width:1px;
}
.ex-button:hover{
  border-style:solid;
  border-width:1px;
  border-color:#d3dce6;
}
.ex-button:hover:disabled{
  cursor: not-allowed;
  border-style:solid;
  border-width:1px;
  border-color:#d3dce6;
}

.ex-link{
  outline: 0;
  background: white;
  border-width: 0;;
}
.ex-link-default{
  color: @default-color2;
}
.ex-link-default:hover{
  color: @default-color;
}

.ex-link-info{
  color: @info-color;
}
.ex-link-info:hover{
  color: lighten(@info-color,20%);
}
.ex-link-primary{
  color: @primary-color;
}
.ex-link-primary:hover{
  color: lighten(@primary-color,20%);
}
.ex-link-error{
  color: @error-color;
}
.ex-link-error:hover{
  color: lighten(@error-color,20%);
}

.ex-link-default:disabled{
  color: @default-color
}

.ex-link-info:disabled{
  color: lighten(@info-color,20%);
}

.ex-link-primary:disabled{
  color: lighten(@primary-color,20%);
}

.ex-link-error:disabled{
  color: lighten(@error-color,20%);
}


.ex-radio{
  width: 15px;
  height: 15px;
  border:2px solid @primary-color;
  vertical-align: middle;
  margin-top: -2px;
  margin-bottom: 1px;
}

.ex-label{
  color: @black-color;
}
////info
.div-row{
  display: inline;
}

.ex-hr{
  border: 3px solid;
  border-radius: 10px;
}
.ex-hr-primary{
  border-color: @primary-color;
}
.ex-hr-info{
  border-color: @info-color;
}
.ex-hr-default{
  border-color: @default-color;
}
.ex-hr-error{
  border-color: @error-color;
}
